body {
	text-align: center;
	font-size: 1.2em;
	font-family: Arial;
}
ul {
	width: 50%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	background-color: #eef;

}
li {
	margin: 5px;
	padding: 10px;
	border-right: 3px;
	border: 1px solid #e5e5ff;
}
li:hover{
	background-color: #fff;
}